/* IMPORTANT EVEYTHING IN THIS CSS MUST HAVE
  COMPONET NAME AT THE START */
/* PALLETE: 
    #6A0269  DARK PURPLE
    #9000B3  PURPLE
    #C413C1  LIGHT PURPLE
    #E98604  ORANGE
    #F7D075  YELLOW ORANGE */
:root {
  --border-first-val: 70%;
  --border-second-val: 50%;
  --border-third-val: 0%;
  --border-fourth-val: 0%;
}
@keyframes wiggleWave {
  from {
    border-top-left-radius: 70%;
  }
  25% {
    border-top-left-radius: 50%;
  }
  75% {
    border-top-left-radius: 100%;
  }
  to {
    border-top-left-radius: 70%;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  background-color: #6a0269;
}

.home-container p {
  color: red;
}
.main {
  margin-top: 1rem;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 248, 238, 1) 34%,
    rgba(250, 243, 227, 1) 47%,
    rgba(254, 243, 221, 1) 63%,
    rgb(251, 233, 190) 100%
  );
}
.country-container {
  height: 200vh;
  background-color: rgb(251, 233, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50px;
}
.flipped {
  transform: rotate(180deg);
}
.shape {
  animation: wiggleWave 8s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 100%;
  /*   border: 1px solid white; */
  border-radius: 70% 50% 0% 0%;

  position: absolute;
}
.widthOne {
  background-color: #6a0269;
  height: 80%;
  z-index: 4;
}
.widthTwo {
  height: 85%;
  background-color: #9000b3;
  z-index: 3;
}
.widthThree {
  height: 90%;
  position: absolute;
  background-color: #c413c1;
  z-index: 2;
}
.widthFour {
  height: 95%;
  background-color: #e98604;
  z-index: 1;
}
.widthFive {
  height: 100%;
  background-color: #f7d075;
  z-index: 0;
}
